<div class="block-wrapper">
  <div class="container">
    ::before
    <div class="row">
      ::before
      <ol class="breadcrumb">
      
      </ol>
      ::after
    </div>

    <div class="row">
      ::before
      <div class="col-md-8 col-sm-8 col-xs-12">
        <section class="detail-feature">
          <article>
            <div class="row">
              ::before
              <div class="col-md-4 col-sm-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
                <div class="details-feat-img">
                
                </div>
            </div>

            <div class="details col-md-8 col-sm-8 col-xs-12">
              <h2 class="detail-title upper-text"></h2>
              <h2 class="detail-title vn upper-text"></h2>
              <div class="detail-ratting"></div>
              <div class="detail-ratting">
                <span></span>
                <span></span>
                <span class="like"></span>
              </div>
              <div class="detail-info">
                <div class="detail-info-row">
                  <label>Director:&nbsp;</label>
                  <div class="detail-info-right"></div>
                </div>
                <div class="detail-info-row">
                  <label>Category:&nbsp;</label>
                  <div class="detail-info-right"></div>
                </div>
                <div class="detail-info-row">
                  <label>Producer:&nbsp;</label>
                  <div class="detail-info-right"></div>
                </div>
                <div class="detail-info-row">
                  <label>Actor:&nbsp;</label>
                  <div class="detail-info-right"></div>
                </div>
                <div class="detail-info-row">
                  <label>Country:&nbsp;</label>
                  <div class="detail-info-right"></div>
                </div>
                <div class="detail-info-row">
                  <label>Time release:&nbsp;</label>
                  <div class="detail-info-right"></div>
                </div>
                ::after
              </div>

              <div class="row detail-description">
                ::before
                <div class="col-md-12 col sm-12 col-xs-12">
                  <div class="content-text">
                    <section id="info">
                      <h3>
                        "Movie content"
                        ::after
                      </h3>
                      <div class="content-text-actors-info content-text">
                        <br>
                        <auto-folded folded-height="200" class="ng-isolate-scope">
                          <div>
                            <div class="shaddow hidden"></div>
                            <div class="auto-folded" ng-transclude style="display: block;">
                              <p class="ng-scope">
                                <span style="font-family:Arial,Helvetica,sans-serif;"></span>
                              </p>
                              <p class="ng-scope">
                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                  <a>Phim mới</a>
                                  &nbsp;&nbsp;ra mắt tại các rạp chiếu phim từ
                                </span>
                              </p>
                            </div>
                          </div>
                        </auto-folded>
                      </div>
                    </section>
                  </div>
                </div>
                ::after
              </div>
          </article>
        </section>

        <section ng-controller="movieDetailShowTime" class="ng-scope">
          <div ng-show="displayBundle">
            <h3>Show time
              ::after
            </h3>
            <div class="row showtime">
              ::before
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
              ::after
            </div>
            <div class="detail-booking-wrap"></div>
          </div>
        </section>
      </div>
  </div>
</div>